#Lab Viewer properties
testEnabled=@testEnabled@
SmokeTestGridURL=@SmokeTestGridURL@
websso_enabled=@websso_enabled@
websso.cas.server=@websso.cas.server@
websso.cas.server.port=@websso.cas.server.port@
version=@version@
hotLink_Type=@hotLink_Type@
caaers_url=@caaers_url@
c3d.url=@c3d.url@
c3pr.url=@c3pr.url@
hub.url=@hub.url@
help.link=@help.link@
login=@login@