#Lab Viewer properties
testEnabled=@testEnabled@
SmokeTestGridURL=@SmokeTestGridURL@
websso.enabled=@websso.enabled@
websso.cas.server=@websso.cas.server@
websso.cas.server.port=@websso.cas.server.port@
version=@version@
hotLink_Type=@hotLink_Type@
caers.url=@caers.url@
c3d.url=@c3d.url@
c3pr.url=@c3pr.url@
hub.url=@hub.url@
help.link=@help.link@