<beans
  xmlns:sm="http://servicemix.apache.org/config/1.0"
  xmlns:bean="http://servicemix.apache.org/bean/1.0"
  xmlns:caXchange="http://nci.nih.gov/caXchange">

  <sm:container
    id="jbi"
    embedded="true"
    createMBeanServer="false">
    <sm:activationSpecs>
      <sm:activationSpec>
        <sm:component>
          <bean:component>
            <bean:endpoints>
              <bean:endpoint
                service="caXchange:c3dRegistration"
                endpoint="c3dRegistration"
                bean="#c3dRegistration" />
              <bean:endpoint
                service="caXchange:c3dRegistrationRollback"
                endpoint="cc3dRegistrationRollback"
                bean="#c3dRegistrationRollback" />
              <bean:endpoint
                service="caXchange:ctomRegistration"
                endpoint="ctomRegistration"
                bean="#ctomRegistration" />
              <bean:endpoint
                service="caXchange:ctomStudy"
                endpoint="ctomStudy"
                bean="#ctomStudy" />
              <bean:endpoint
                service="caXchange:ctomRegistrationRollback"
                endpoint="ctomRegistrationRollback"
                bean="#ctomRegistrationRollback" />
              <bean:endpoint
                service="caXchange:ctomStudyRollback"
                endpoint="ctomStudyRollback"
                bean="#ctomStudyRollback" />
              <bean:endpoint
                service="caXchange:caaersRegistration"
                endpoint="caaersRegistration"
                bean="#caaersRegistration" />
              <bean:endpoint
                service="caXchange:caaersStudy"
                endpoint="caaersStudy"
                bean="#caaersStudy" />
              <bean:endpoint
                service="caXchange:caaersRegistrationRollback"
                endpoint="caaersRegistrationRollback"
                bean="#caaersRegistrationRollback" />  
              <bean:endpoint
                service="caXchange:caaersStudyRollback"
                endpoint="caaersStudyRollback"
                bean="#caaersStudyRollback" />
              <bean:endpoint
                service="caXchange:loadLab"
                endpoint="loadLab"
                bean="#loadLab" />
                
              <bean:endpoint
                service="caXchange:pscRegistration"
                endpoint="pscRegistration"
                bean="#pscRegistration" />
              <bean:endpoint
                service="caXchange:pscStudy"
                endpoint="pscStudy"
                bean="#pscStudy" />
              <bean:endpoint
                service="caXchange:pscAdverseEvent"
                endpoint="pscAdverseEvent"
                bean="#pscAdverseEvent" />
              <bean:endpoint
                service="caXchange:pscRegistrationRollback"
                endpoint="pscRegistrationRollback"
                bean="#pscRegistrationRollback" />  
              <bean:endpoint
                service="caXchange:pscStudyRollback"
                endpoint="pscStudyRollback"
                bean="#pscStudyRollback" />
                              
            </bean:endpoints>
          </bean:component>
        </sm:component>
      </sm:activationSpec>
    </sm:activationSpecs>
  </sm:container>
  
  <bean
    id="c3dRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="c3dRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="c3dRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://NT-CBIOC3PRJB-1.nci.nih.gov:8080/wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
  
  <bean
    id="c3dRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="c3dRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="c3dRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://NT-CBIOC3PRJB-1.nci.nih.gov:8080/wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
    
  <bean
    id="ctomRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="ctomRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/ctom-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
  
  <bean
    id="ctomStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="ctomStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/ctom-wsrf/services/cagrid/StudyConsumer" />
  </bean>
  
  <bean
    id="ctomRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="ctomRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/ctom-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
  
  <bean
    id="ctomStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="ctomStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/ctom-wsrf/services/cagrid/StudyConsumer" />
  </bean>
  
  <bean
    id="caaersRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="caaersRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/caaers-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
  
  <bean
    id="caaersStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="caaersStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/caaers-wsrf/services/cagrid/StudyConsumer" />
  </bean>
  
  <bean
    id="caaersRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="caaersRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/caaers-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>
  
  <bean
    id="caaersStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="caaersStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/caaers-wsrf/services/cagrid/StudyConsumer" />
  </bean>
  
  <bean
    id="loadLab"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="loadLabInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="LOAD_LAB" />
  </bean>

  <bean
    id="loadLabInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.LoadLabInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://NT-CBIOC3PRJB-1.nci.nih.gov:8080/wsrf/services/cagrid/C3DGridService" />
  </bean>
  
  <bean
    id="pscRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="pscRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/psc-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>

  <bean
    id="pscStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="pscStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/psc-wsrf/services/cagrid/StudyConsumer" />
  </bean>

  <bean
    id="pscAdverseEvent"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscAdverseEventInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="SCHEDULE_MODIFICATION" />
  </bean>

  <bean
    id="pscAdverseEventInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.AdverseEventInvocationStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/psc-wsrf/services/cagrid/AdverseEventConsumer" />
  </bean>

  <bean
    id="pscRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="pscRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/psc-wsrf/services/cagrid/RegistrationConsumer" />
  </bean>

  <bean
    id="pscStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="pscStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="http://cbvapp-d1017.nci.nih.gov:18080/psc-wsrf/services/cagrid/StudyConsumer" />
  </bean>


</beans>