${CSM_PROJECT_NAME}{
  gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
  driver="oracle.jdbc.driver.OracleDriver" 
  url="jdbc:oracle:thin:@cbiodb30.nci.nih.gov:1521:CBTEST"
  user="CACORESDK_ANT" 
  passwd="c0r3nt!" 
  query="SELECT * FROM csm_user WHERE login_name=? and password=?"
  encryption-enabled="YES";
};


/**
${CSM_PROJECT_NAME}{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="ldaps://ncids4a.nci.nih.gov:636"
  ldapSearchableBase="ou=nci,o=nih"
  ldapUserIdLabel="cn";
};
**/