<beans xmlns:sm="http://servicemix.apache.org/config/1.0"
  xmlns:bean="http://servicemix.apache.org/bean/1.0"
  xmlns:eip="http://servicemix.apache.org/eip/1.0"
  xmlns:caxchange="http://nci.nih.gov/caXchange">
  <import resource="classpath:jndi.xml"/>
  <sm:container id="jbi" embedded="true" createMBeanServer="false" >
    <sm:activationSpecs>
      <sm:activationSpec>
        <sm:component>
          <bean:component>
            <bean:endpoints>
<!--                <bean:endpoint service="c3d:enrollPatient" endpoint="enrollPatient"
                bean="#enrollPatient" /> -->
  			<bean:endpoint service="caxchange:setSubjectService" endpoint="setSubjectEndPoint" bean="#invokeDelegationServiceBean"/>                               
  			<bean:endpoint service="caxchange:handleErrorResponse" endpoint="endPoint" bean="#handleErrorResponseBean"/>
  			<bean:endpoint service="caxchange:storeOriginalMessage" endpoint="endPoint" bean="#storeOriginalMessageBean"/>
  			<bean:endpoint service="caxchange:payloadValidator"    endpoint="endPoint" bean="#payloadValidatorBean" />
  			<bean:endpoint service="caxchange:aggregatorListener" endpoint="aggregatorListenerEndpoint" bean="#aggregatorListener" />
  			<bean:endpoint service="caxchange:caXchangeConsumer" endpoint="caXchangeConsumerEndpoint" bean="#caXchangeConsumer" />
  			<bean:endpoint service="caxchange:ResponseQueueService" endpoint="caxchangeOutboundJmsProviderEndpoint" bean="#caxchangeMessagingTestBean" />
  			<bean:endpoint service="caxchange:generateResponseService" endpoint="cgenerateResponseEndpoint" bean="#generateResponseBean" />
            </bean:endpoints>
          </bean:component>
        </sm:component>
      </sm:activationSpec>
    </sm:activationSpecs>
  </sm:container>
  <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:caxchange.properties</value>
		</property>
</bean>
	
 <bean id="invokeDelegationServiceBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.InvokeDelegationServiceBean" init-method="init">
    <property name="certificateFilePath" value="${delegation.certificateFilePath}"/>
    <property name="keyFilePath" value="${delegation.keyFilePath}"/>
    <property name="userProxyCache">
      <ref bean="userProxyCache" />
    </property>
 </bean>
 <bean id="userProxyCache" class="gov.nih.nci.caxchange.servicemix.bean.cache.UserProxyCacheImpl" init-method="init" >
    <property name="maxTimeToLive">
       <value>3600</value>
    </property>
 </bean>
 <bean id="handleErrorResponseBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.HandleErrorResponseBean"/>
 <bean id="generateResponseBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.GenerateResponseBean" />
 <bean id="storeOriginalMessageBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.StoreOriginalMessageServiceBean"/>
 <bean id="xpathUtil" class="gov.nih.nci.caxchange.servicemix.bean.util.CaXchangeDataUtil" />
 <bean id="aggregatorListener" class="gov.nih.nci.caxchange.servicemix.bean.routing.CaxchangeAggregatorListener" > 
      <property name="transactionControlServiceTypes" value="STUDY_CREATION,REGISTER_SUBJECT" />
   </bean>
 <bean id="payloadValidator" class="gov.nih.nci.caxchange.servicemix.bean.validation.PayloadValidator" init-method="init"/>
 <bean id="gmeSchemaFactory" class="gov.nih.nci.caxchange.servicemix.bean.validation.GMESchemaFactory" init-method="init">
       <property name="GMEGridServiceLocation"
                 value="http://localhost:8090/wsrf/services/cagrid/GlobalModelExchange"/>
       <property name="cacheDirectoryLocation"
                 value="c:/gme_cache_directory" />
 </bean>
 <bean id="payloadValidatorBean" class="gov.nih.nci.caxchange.servicemix.bean.validation.PayloadValidatorBean" >
       <property name="payloadValidator">
           <ref bean="payloadValidator"/>
       </property>
       <property name="caxchangeSchemaFactory">
          <ref bean="gmeSchemaFactory" />
       </property>
       <property name="eligibleServiceTypes" value="STUDY_CREATION,REGISTER_SUBJECT" />
 </bean>
 
    <bean id="caxchangeMessagingTestBean" class="gov.nih.nci.caxchange.servicemix.bean.CaXchangeMessagingBeanTest" />
 
   <bean
    id="caXchangeConsumer"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caXchangeConsumerInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="CaXchangeConsumer" />
    <property
      name="targetOperation"
      value="PROCESS" />
  </bean>

  <bean
    id="caXchangeConsumerInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.CaXchangeConsumerInvocationStrategy">

    <property
      name="serviceUrl"
      value="${caXchangeConsumer.url}" />
  </bean>
  
</beans>


