<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns:bean="http://servicemix.apache.org/bean/1.0"
       xmlns:caxchange="http://nci.nih.gov/caXchange">
       
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:caxchange.properties</value>
		</property>
	</bean>
	
  <bean id="caxchangeProps"
    class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location">
      <value>classpath:caxchange.properties</value>
    </property>
  </bean>
  
  <import resource="classpath:/caXchangeConf/beans/endpoints.xml" /> 
  

  <bean id="invokeDelegationServiceBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.InvokeDelegationServiceBean" init-method="init">
    <property name="certificateFilePath" value="${delegation.certificateFilePath}"/>
    <property name="keyFilePath" value="${delegation.keyFilePath}"/>
  </bean>
  
  <bean id="storeOriginalMessageServiceBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.StoreOriginalMessageServiceBean">
      <property name="eligibleServiceTypes" value="${messageTypes.for.transaction.control}" />
  </bean>
  
  <bean id="handleErrorResponseBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.HandleErrorResponseBean"/>
  
   <bean id="generateResponseBean" class="gov.nih.nci.caxchange.servicemix.bean.routing.GenerateResponseBean" />

  <bean id="unhandledMessageType" class="gov.nih.nci.caxchange.servicemix.bean.routing.UnhandledMessageTypeBean" />
  
  <bean id="aggregatorListener" class="gov.nih.nci.caxchange.servicemix.bean.routing.CaxchangeAggregatorListener" >
        <property name="transactionControlServiceTypes" value="${messageTypes.for.transaction.control}"  />
  </bean>
  
  <bean
    id="c3dRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="c3dRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="c3dRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="${c3d.registration.url}" />
  </bean>
  
  <bean
    id="c3dRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="c3dRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="c3dRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="${c3d.registration.url}" />
  </bean>
    
  <bean
    id="ctomRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="ctomRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="${ctom.registration.url}" />
  </bean>
  
  <bean
    id="ctomStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="ctomStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="${ctom.study.url}" />
  </bean>
  
  <bean
    id="ctomRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="ctomRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="${ctom.registrationRollback.url}" />
  </bean>
  
  <bean
    id="ctomStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="ctomStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="LabViewer" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="ctomStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="${ctom.studyRollback.url}" />
  </bean>

  <bean
    id="pscRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="pscRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="${psc.registration.url}" />
  </bean>

  <bean
    id="pscStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="pscStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="${psc.study.url}" />
  </bean>

  <bean
    id="pscAdverseEvent"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscAdverseEventInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="SCHEDULE_MODIFICATION" />
  </bean>

  <bean
    id="pscAdverseEventInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.AdverseEventInvocationStrategy">

    <property
      name="serviceUrl"
      value="${psc.adverseEvent.url}" />
  </bean>

  <bean
    id="pscRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="pscRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="${psc.registrationRollback.url}" />
  </bean>

  <bean
    id="pscStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="pscStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="psc" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="pscStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="${psc.studyRollback.url}" />
  </bean>

  <bean
    id="caaersRegistration"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersRegistrationInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
  </bean>

  <bean
    id="caaersRegistrationInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationInvocationStrategy">

    <property
      name="serviceUrl"
      value="${caaers.registration.url}" />
  </bean>
  
  <bean
    id="caaersStudy"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersStudyInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
  </bean>

  <bean
    id="caaersStudyInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyInvocationStrategy">

    <property
      name="serviceUrl"
      value="${caaers.study.url}" />
  </bean>
  
  <bean
    id="caaersRegistrationRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersRegistrationRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="REGISTER_SUBJECT" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="caaersRegistrationRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.RegistrationRollbackStrategy">

    <property
      name="serviceUrl"
      value="${caaers.registrationRollback.url}" />
  </bean>
  
  <bean
    id="caaersStudyRollback"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="caaersStudyRollbackStrategy" />
    </property>
    <property
      name="targetId"
      value="caAERS" />
    <property
      name="targetOperation"
      value="STUDY_CREATION" />
    <property name="rollback" value="true"/>
  </bean>

  <bean
    id="caaersStudyRollbackStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.StudyRollbackStrategy">

    <property
      name="serviceUrl"
      value="${caaers.studyRollback.url}" />
  </bean>
  
  <bean
    id="loadLab"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="loadLabInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="C3D" />
    <property
      name="targetOperation"
      value="LOAD_LAB" />
  </bean>

  <bean
    id="loadLabInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.LoadLabInvocationStrategy">

    <property
      name="serviceUrl"
      value="${loadLab.url}" />
  </bean>

  <bean
    id="labLoader"
    class="gov.nih.nci.caXchange.outbound.GridSU">
    <property name="strategy">
      <ref bean="labLoaderInvocationStrategy" />
    </property>
    <property
      name="targetId"
      value="LabLoader" />
    <property
      name="targetOperation"
      value="CT_LAB_DATA" />
  </bean>

  <bean
    id="labLoaderInvocationStrategy"
    class="gov.nih.nci.caXchange.outbound.operations.LabLoaderInvocationStrategy">
    <property
      name="serviceUrl"
      value="${ctom.labLoader.url}" />
  </bean>
  
  
  <bean  id="caAERSLoadLabStrategy"     class="gov.nih.nci.caXchange.outbound.operations.GenericInvocationStrategy">
            <property  name="serviceUrl"     value="${caaers.labLoader.url}" />
            <property  name="gridClientClassName"  value="gov.nih.nci.ccts.grid.client.LabConsumerServiceClient" />         
            <property  name="requestPayloadClassName"    value="gov.nih.nci.cabig.ccts.domain.loadlabs.LoadLabsRequest" />    
            <property name="operationName"  value="loadLabs" />       
            <property name="returnTypeNameSpace" value="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain.loadlabs" />
            <property name="returnTypeElement" value="Acknowledgement" />            
  </bean>
    
  <bean    id="caAERSLoadLabStrategySU"    class="gov.nih.nci.caXchange.outbound.GridSU">
      <property name="strategy">
        <ref bean="caAERSLoadLabStrategy" />
       </property>
      <property      name="targetId"      value="caAERS" />
      <property   name="targetOperation"   value="loadLabs" />
    </bean>


</beans>
