<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d %-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="laf-demo.log"/>
        <param name="maxFileSize" value="2048KB"/>
        <param name="maxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d [%15t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <!-- disable really verbose logging from libraries.  Switch to debug if necessary. -->
<!--
    <logger name="org.acegisecurity">          <level value="info"/></logger>
    <logger name="org.springframework">        <level value="info"/></logger>
    <logger name="org.apache.commons.digester"><level value="info"/></logger>
    <logger name="org.apache.catalina">        <level value="info"/></logger>
    <logger name="org.apache.jasper">          <level value="info"/></logger>
-->

    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>
