labviewer
{
	gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule required
	driver="@database_driver@"
	url="@database_url@"
	user="@database_user@"
	passwd="@database_passwd@"
	query="SELECT * FROM CSM_USER WHERE LOGIN_NAME=? and PASSWORD=?"
	encryption-enabled=YES;
};