<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:gov/nih/nci/cabig/ctms/lookandfeel/demo/applicationContext*.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- This filter simulates the effect of SectionInterceptor in a normal app -->
    <filter>
        <filter-name>BeansInRequestFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.ctms.web.filters.BeansInRequestFilter</filter-class>
        <init-param>
            <param-name>beanNames</param-name>
            <param-value>currentSection, sections</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>BeansInRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ctms-assets</servlet-name>
        <servlet-class>gov.nih.nci.cabig.ctms.lookandfeel.AssetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ctms-assets</servlet-name>
        <url-pattern>/ctms-laf/*</url-pattern>
    </servlet-mapping>

</web-app>